<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title id="Tunnistuspalvelu">OIDC Connector Validation</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="tyyli.css">

<style>
#disruption.hidden {
	display: none;
}
</style>
</head>
<body>
	<header id="page-header" role="banner">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>OIDC-adapter testaus</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main id="main" role="main" name="main">
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="row">
						<div class="col-xs-8">
							<div class="text">
								<p id="valintasivu_hyva_tietaa">Linkit OIDC adapterin ja routerin testausta varten</p>
								<p>
									<a href="/Shibboleth.sso/LoginAktiaOIDC/fi">LoginAktiaOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginAktiaTestOIDC/fi">LoginAktiaTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginAlandsbankedOIDC/fi">LoginAlandsbankedOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginAlandsbankedTestOIDC/fi">LoginAlandsbankedTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginDanskeOIDC/fi">LoginDanskeOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginDanskeTestOIDC/fi">LoginDanskeTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginHandelsOIDC/fi">LoginHandelsOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginHandelsTestOIDC/fi">LoginHandelsTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginNordeaOIDC/fi">LoginNordeaOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginNordeaTestOIDC/fi">LoginNordeaTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginOmaspOIDC/fi">LoginOmaspOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginOmaspTestOIDC/fi">LoginOmaspTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginPopOIDC/fi">LoginPopOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginPopTestOIDC/fi">LoginPopTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginSaastopankkiOIDC/fi">LoginSaastopankkiOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginSaastopankkiTestOIDC/fi">LoginSaastopankkiTestOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginSPankkiOIDC/fi">LoginSPankkiOIDC</a>
								<p>
									<a href="/Shibboleth.sso/LoginSPankkiTestOIDC/fi">LoginSPankkiTestOIDC</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>
</html>
